
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	margin: 0;
	background: #0a0b18;
	color: #e1e1e1;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container {
	width: fit-content;
	max-width: 80rem;
	height: fit-content;
}

.status-badge {
	width: fit-content;
	margin: 1rem auto;
	border-radius: 10px;
	padding: 0 .5rem;
}

#onlineBadge {
	color: #333;
	background-color: #0fd112;
}

#offlineBadge {
	color: #f1f1f1;
	background-color: #c9190c;
}

.server-name {
	font-weight: 700;
	font-size: 2rem;
	margin-bottom: 2rem;
}

.info-title {
	font-size: 1.2rem;
	display: flex;
	justify-content: center;
	align-content: center;
}

.info-title svg {
	width: 1em;
	fill: #4799eb;
	margin-right: .5em;
}

.info-connect {
	width: fit-content;
	font-size: .9rem;
	display: flex;
	justify-content: center;
	align-content: center;
	cursor: pointer;
	transition: color .2s;
	margin: 1rem auto;
}

.info-connect svg {
	width: .9em;
	fill: #f1f1f1;
	margin-right: .2em;
	transition: fill .2s;
}

.info-connect:hover {
	color: #4799eb;
}

.info-connect:hover svg {
	fill: #4799eb;
}

.git {
	font-size: .8rem;

	position: absolute;
	bottom: 10px;
	width: 80rem;
}

.git a {
	text-decoration: none;
	color: #888;
	transition: color .2s;
}

.git a:hover {
	color: #4799eb;
}


/* Todo: Responsive for mobile */
